header {

    font-family: "Nixie One", cursive;
    background-color: #000000;

    nav {

        .fas {
            color: #8b0a15 !important;

        }

        h1 {
            a {
                font-family: 'Rammetto One', cursive;
                font-size: 28px;
                color: #ffffff;

                span {
                    color: #8b0a15;
                }
            }
        }

        div {
            color: #8b0a15 !important
        }

    }

    .accordion {

        #headingOne {
            background-color: #000000;

            h5 {
                button {
                    color: #ffffff;
                }
            }

        }

        #collapseOne {
            background-color: #1b1b1b;

            a {
                color: #ffffff;
            }

        }

        #headingTwo {
            background-color: #000000;

            h5 {
                button {
                    color: #ffffff;
                }
            }

        }

        #collapseTwo {
            background-color: #1b1b1b;

            a {
                color: #ffffff;
            }

        }

        #headingThree {
            background-color: #000000;

            h5 {
                button {
                    color: #ffffff;
                }
            }

        }

        #collapseThree {
            background-color: #1b1b1b;

            a {
                color: #ffffff;
            }

        }
    }

}