header {

    nav {
        background-color: #000000;

        span {
            color: #8b0a15;
        }

        h1 {
            a {
                color: #ffffff;

                span {
                    color: #8b0a15;
                }
            }
        }

        div {
            
            div {
                background-color: #000000;

                h5 {
                    color: #ffffff;

                    button {
                        color: #ffffff
                    }
                }
            }
        }

    }
}