{% extends "home_view.twig" %}

{% block owners %}
   
  {% for array in auteurs %}
          
                <li> <a href="auteur/{{ array.id }}"> {{ array.name }}{{ array.lastname }} </a> </li>
        
        {% endfor %}
   
{% endblock %}